{% extends "includes/base.html" %};
{% load static %}
{% block head %}

{% endblock %}

{% block title %}HSU - Inicio{% endblock %};

{% block titulo-pagina %}{% endblock %};

{% block breadcrumb %}

{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row text-center">
      <!-- Texto centrado arriba -->
      <div class="col-12 mt-5">
        <h2 class="text-white font-weight-bold">Bienvenido a Historia Social Única</h2>
      </div>
      <!-- Imagen -->
      <div class="col-12 d-flex justify-content-center mt-3">
        <img src="{% static 'custom/img/msm_logo.png' %}" class="img-fluid" style="width: 40%;" alt="Municipalidad de San Miguel">
      </div>
    </div>
  </div>
{% endblock %}
{% block customJS %}

{% endblock %}