[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.2"
crispy-bootstrap4 = "==2022.1"
django-extensions = "==3.2.1"
docutils = "==0.19"
mysqlclient = "==2.1.1"
pillow = "==9.4.0"
django-import-export = "==3.2.0"

[dev-packages]

[requires]
python_version = "3.11"
