{% extends "includes/base.html" %};
{% load static %};

{% block head %}

{% endblock %}

{% block title %}Vacantes bandeja{% endblock %};

{% block titulo-pagina %}Vacantes{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}

{% load crispy_forms_tags %}
<div class="row">
  <!-- botones -->
  <!-- <div class="col-12 my-3 mx-2 d-print-none">
    <a href="{% url 'vacantes_form' %}" class="btn btn-primary mr-1">Otorgar vacante</a>
  </div> -->
  <!-- ./botones -->

  <!-- Datos de vacantes centros -->


  <div class="col-12 mt-3">
    <div class="card card-primary card-outline">
      <div class="card-body ">
        <div class="table-responsive mailbox-messages">
            <!-- Form -->
            <div class="col">
              <form class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
                  <input type="hidden" name="id" value="{{object.id}}" maxlength="150" class="form-control" id="id">
                  <input type="hidden" name="fk_vacante_di" value="{{object.fk_vacante_di}}" maxlength="150" class="form-control" id="fk_vacante_di">
                <!-- Security token -->
                {% csrf_token %}
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h3 class="card-title">Confirmar Edicion</h3>
                  </div>
                  <div class="card-body">
                    <div class="form-row">
                      <div class="col-sm-2 form-group">
                          {{ form.fk_vacante| as_crispy_field }}
                      </div>
                      <div class="col-sm-3 form-group">
                          {{ form.tipo| as_crispy_field }}
                      </div>
                      <div class="col-sm-3 form-group">
                        {{ form.cantidad| as_crispy_field }}
                    </div>
                    <div class="col-sm-3 form-group">
                      {{ form.observaciones| as_crispy_field }}
                  </div>
                    </div>
                  </div>
                </div>
                <div class="mt-4 mx-2 btn-toolbar" role="toolbar">
                  <button type="submit" class="btn btn-primary mr-2">Confirmar</button>
                  <a href="{% url 'DESCEN_vacantes_listar' %}" class="btn btn-secondary">Cancelar</a>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4 d-print-none">
  <div class="col-12 mx-2">
    <a href="{% url 'DESCEN_vacantes_listar' %}" class="btn btn-secondary"
      title="Ver listado de vacantes por centro">Volver</a>
  </div>
</div>
{% endblock content %}

{% block customJS %}
{% endblock %}