{% extends "includes/base.html" %};
{% load static %};

{% block head %}

{% endblock %}

{% block title %}Vacantes bandeja{% endblock %};

{% block titulo-pagina %}Vacantes{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}

{% load crispy_forms_tags %}
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-outline card-primary h-100">
          <div class="card-header">
            <h3 class="card-title">Detalle Organismo</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body pb-0 pt-2">
            <dl class="row mb-0">
              <dt class="col-sm-2 font-weight-normal">Nombre: </dt>
              <dd class="col-sm-10 font-weight-bold">{{object.nombre}}</dd>
              <dt class="col-sm-2 font-weight-normal">Programa: </dt>
              <dd class="col-sm-10 font-weight-bold">{{object.fk_programa}}</dd>
              <dt class="col-sm-2 font-weight-normal">Calle:</dt>
              <dd class="col-sm-10 font-weight-bold"> {{object.fk_organismo.calle|default_if_none:"-" }} </dd>
              <dt class="col-sm-2 font-weight-normal">Número: </dt>
              <dd class="col-sm-10 font-weight-bold">{{object.fk_organismo.altura|default_if_none:"-" }}</dd>
              <dt class="col-sm-2 font-weight-normal">Barrio: </dt>
              <dd class="col-sm-10 font-weight-bold">{{object.fk_organismo.barrio|default_if_none:"-" }}</dd>
            </dl>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Form -->
  <div class="col">
    
    <form class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- Security token -->

      <input type="hidden" name="fk_vacante" value="{{object.id}}" maxlength="150" class="form-control" id="id_fk_vacante">
      <input type="hidden" name="fk_legajo" value="{{admi.fk_admision.fk_preadmi.fk_legajo.id}}" maxlength="150" class="form-control" id="id_fk_legajo">
      
      
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Confirmar asignacion</h3>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-sm-2 form-group">
                {{ form.fk_stock| as_crispy_field }}
            </div>
            <div class="col-sm-3 form-group">
                {{ form.cantidad| as_crispy_field }}
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 mx-2 btn-toolbar" role="toolbar">
        <button type="submit" class="btn btn-primary mr-2">Confirmar</button>
        <a href="{% url 'DESCEN_vacantes_listar' %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block customJS %}
{% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}