{% extends "includes/base.html" %};
{% load crispy_forms_tags %}
{% load static %};

{% block head %}{% endblock %}

{% block title %}Pre-admisiones formulario{% endblock %};

{% block titulo-pagina %} Pre-admisiones {% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{% url 'MA_derivaciones_listar'%}"
            title="Ver listado de Pre-admisiones">Pre-admisiones</a></li>
    <li class="breadcrumb-item "><a href="{% url 'MA_expediente_ver' 1 %}"
            title="Ver legajo">{{legajo.fk_legajo}}</a></li>
            {%if request.resolver_match.url_name == "MA_preadmisiones_editar" %}
            <li class="breadcrumb-item active">Editar</li>
            {% else %}
            <li class="breadcrumb-item active">Agregar</li>
            {% endif %}
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <div class="step" data-target="#bs1">
                        <button type="button" class="step-trigger" role="tab" aria-controls="bs1"
                            id="bs1-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Documentación</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#bs2">
                        <button type="button" class="step-trigger" role="tab" aria-controls="bs2"
                            id="bs2-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Postulación</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#bs3">
                        <button type="button" class="step-trigger" role="tab" aria-controls="bs3"
                            id="bs3-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Comunicaciones</span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 px-2 mt-5">
                    <form method="POST" enctype="multipart/form-data" name="miFormulario">
                        <!-- Security token -->
                        {% csrf_token %}
                        <input type="hidden" id="id_fk_derivacion" name="fk_derivacion" value={{pk}}>
                        <input type="hidden" id="id_fk_legajo" name="fk_legajo" value={{legajo.fk_legajo.id}}>
                        {%if request.resolver_match.url_name == "MA_preadmisiones_editar" %}
                        <input type="hidden" id="id_modificado_por" name="modificado_por" value={{ user.id }}>
                        {% else %}
                        <input type="hidden" id="id_creado_por" name="creado_por" value={{ user.id }}>
                        {% endif %}
                    <div class="bs-stepper-content">
                        <div id="bs1" class="content" role="tabpanel" aria-labelledby="bs1-trigger">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="id_PER">Adjuntar PER *</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="PER" id="id_PER" />
                                                <label class="custom-file-label" for="exampleInputFile"></label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                                            </div>
                                        </div>
                                        {% if form.PER.errors %}
                                        <div class="error">
                                            {% for error in form.PER.errors %}
                                                <p style="color: red;">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="id_archivos">Adjuntar Documentación</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="archivos" id="id_archivos" multiple/>
                                                <label class="custom-file-label" for="exampleInputFile"></label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                                            </div>
                                        </div>
                                        {% if form.archivos.errors %}
                                        <div class="error">
                                            {% for error in form.archivos.errors %}
                                                <p style="color: red;">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            {%if request.resolver_match.url_name == "MA_preadmisiones_editar" %}
                            <a href="{% url 'MA_preadmisiones_ver' object.pk %}" class="btn btn-secondary float-left mb-3 mt-5">Cancelar</a>
                            {% else %}
                            <a href="{% url 'MA_derivaciones_listar' %}" class="btn btn-secondary float-left mb-3 mt-5">Cancelar</a>
                            {% endif %}
                            <button class="btn btn-primary float-right mb-3 mt-5" onclick="stepper.next(); return false;">
                                Continuar
                            </button>
                        </div>
                        <div id="bs2" class="content" role="tabpanel" aria-labelledby="bs2-trigger">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.familia_abrigadora| as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.organismo_municipal| as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.organismo_zonal| as_crispy_field}}
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-secondary float-left mb-3 mt-5 " onclick="stepper.previous()">Volver</a>
                            <a class="btn btn-primary float-right mb-3 mt-5 " onclick="stepper.next()">Continuar</a>
                        </div>
                        <div id="bs3" class="content" role="tabpanel" aria-labelledby="bs3-trigger">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="id_PER">Adjuntar comunicación al juzgado *</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="juzgado" id="id_juzgado" />
                                                        <label class="custom-file-label" for="exampleInputFile"></label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                                                    </div>
                                                </div>
                                                {% if form.PER.errors %}
                                                <div class="error">
                                                    {% for error in form.PER.errors %}
                                                        <p style="color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="id_PER">Adjuntar REUNA *</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="REUNA" id="id_REUNA" />
                                                    <label class="custom-file-label" for="exampleInputFile"></label>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                                                </div>
                                            </div>
                                            {% if form.PER.errors %}
                                            <div class="error">
                                                {% for error in form.PER.errors %}
                                                    <p style="color: red;">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <a class="btn btn-secondary float-left mb-3 mt-5 " onclick="stepper.previous()">Volver</a>
                        <button type="submit" class="btn btn-primary float-right mb-3 mt-5">Confirmar</button>
                    </div>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block customJS %}
<script>
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    });
</script>
<script>
    // Obtener los selectores
    var familia_abrigadora = document.getElementById('id_familia_abrigadora');
    var organismo_municipal = document.getElementById('id_organismo_municipal');
    var organismo_zonal = document.getElementById('id_organismo_zonal');

    // Función para desactivar los otros selectores
    function desactivarSelectores(select) {
        if (select.value === '') {
            // Si se selecciona una opción vacía, habilita todos los selectores
            familia_abrigadora.disabled = false;
            organismo_municipal.disabled = false;
            organismo_zonal.disabled = false;
        } else {
            // Desactiva los otros selectores
            if (select.id === 'id_familia_abrigadora') {
                organismo_municipal.disabled = true;
                organismo_zonal.disabled = true;
            } else if (select.id === 'id_organismo_municipal') {
                familia_abrigadora.disabled = true;
                organismo_zonal.disabled = true;
            } else if (select.id === 'id_organismo_zonal') {
                familia_abrigadora.disabled = true;
                organismo_municipal.disabled = true;
            }
        }
    }

    // Agregar eventos change a cada selector
    familia_abrigadora.addEventListener('change', function() {
        desactivarSelectores(this);
    });

    organismo_municipal.addEventListener('change', function() {
        desactivarSelectores(this);
    });

    organismo_zonal.addEventListener('change', function() {
        desactivarSelectores(this);
    });

    // Función para verificar si se seleccionaron más de una opción
    function verificarSeleccion() {
        var seleccionados = 0;
        if (!familia_abrigadora.disabled) seleccionados++;
        if (!organismo_municipal.disabled) seleccionados++;
        if (!organismo_zonal.disabled) seleccionados++;

        if (seleccionados > 1) {
            alert('¡Solo puedes seleccionar una opción!');
            return false;
        }
        return true;
    }

    // Agregar evento submit al formulario
    document.getElementById('miFormulario').addEventListener('submit', function() {
        return verificarSeleccion();
    });
</script>

{% endblock %}