{% extends "includes/base.html" %};
{% load static %};

{% block head %}

{% endblock %}

{% block title %}Admisiones Listado{% endblock %};

{% block titulo-pagina %}Admisiones{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}

<div class="row">
  <!-- botones -->
  <div class="col-12 my-3 mx-2 d-print-none">
    <a href="{% url 'preadmisiones_buscar' %}" class="btn btn-primary mr-1">Agregar admisión</a>
  </div>
  <!-- ./botones -->

  <div class="col-12 mt-2">
    <div class="card card-primary card-outline">
      <div class="card-body ">
        <div class="table-responsive mailbox-messages">
          <table class="table table-bordered table-striped projects tabladt">
            <thead>
              <tr>
                <th>Admisión</th>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Centro</th>
                <th>IVI de ingreso</th>
                <th>IVI de egreso</th>
                <th>Estado</th>
                <th style="width: 5%" class="notexport">
                </th>
              </tr>
            </thead>
            <tbody>
                {% for a in admi %}
              <tr>
                <td class="mailbox-date">{{a.creado|date:'d/m/Y'}}</td>
                <td class=""> <a href="{% url 'CDIF_admisiones_ver' a.id %}" title="Ver detalle de admisión">{{a.fk_preadmi.fk_legajo}}</a></td>
                <td class="">{{a.fk_preadmi.fk_legajo.documento}}</td>
                <td>{{a.fk_preadmi.centro_postula}}</td>
                <td class="text-center"><span class="badge badge-circle  mx-2">-</span></td>
                <td class="text-center">-</td>
                <td><span class="text-success">{{a.estado}}</span></td>
                <td class="project-actions text-right">
                  <div class="btn-group" role="group">
                    <a href="{% url 'CDIF_admisiones_ver' a.id%}" class="btn btn-secondary btn-sm editar">Ver</a>
                  </div>
                </td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block customJS %}
{% endblock %}