{% extends "includes/base.html" %};
{% load static %};

{% block title %}
Programas en intervención
{%endblock %};

{% block titulo-pagina %}
Programas en intervención
{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="">Plantilla</a></li>
  <li class="breadcrumb-item"><a href="">Baez, Jessica</a></li>
  <li class="breadcrumb-item active">Programas en intervención</li>
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}



<!-- Datos de legajo -->
<div class="row">
  <div class="col-sm-10 pb-3">
    <div class="card card-outline card-primary h-100 mb-0">
      <div class="card-header">
        <h3 class="card-title">Datos personales</h3>
      </div>
      <div class="card-body">
        <dl class="row mb-0">
          <dd class="col-sm-2 mb-2">Nombre</dd>
          <dt class="col-sm-10 mb-2"><a href="#" title="Ver legajo">Baez, Jessica
            </a>
          </dt>
          <dd class="col-sm-2 mb-2">DNI</dd>
          <dt class="col-sm-10 mb-2">54321012</dt>
          <dd class="col-sm-2 mb-2">Fecha de nacimiento</dd>
          <dt class="col-sm-10 mb-2">15/04/2005</dt>
          <dd class="col-sm-2 mb-2">Sexo</dd>
          <dt class="col-sm-10">Femenino</dt>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="row h-100">
      <div class="col-12">
        <div class="info-box mb-2 py-3">
          <span class="info-box-icon bg-success"><i class="far fa-thumbs-up"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Activos</span>
            <span class="info-box-number h5">1</span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="info-box mb-2 py-3">
          <span class="info-box-icon bg-danger"><i class="far fa-thumbs-down"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Inactivos</span>
            <span class="info-box-number h5">5</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Admisiones activas (estado "aceptada") -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold mr-3 pt-1"> DDA</h3>
        
        <span title="4 alertas" class="badge badge-success p-2">
            Activo
        </span>
    </div>
      <div class="card-body mt-2">
        <div class="row">
          <div class="col-12">
            <div class="text-muted text-sm font-weight-normal">Admitido desde 14/07/2019 </div>
            <div class="font-weight-bold"> Equipo interviniente
              <span class="badge badge-success mx-2 font-weight-normal"> Equipo 1 </span>
            </div>
            <div class="font-weight-bold"> Persona responsable
              <span class="badge badge-info mx-2 font-weight-normal"> Nombre del responsable</span>
            </div>
            <div class="font-weight-bold">
              Observaciones de admisión
              <div class="font-weight-normal">
                Se admitió a la familia Baez luego de una derivación en el CIC B° Mitre. Se detectó a los niños de la
                familia con escolaridad irregular y falta de controles médicos. Además se detecta que la madre de
                familia Catalina Perez padece violencia familiar.
                Se articulará con las demás áreas a fin de poder asistir a la familia.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title font-weight-bold mr-3 pt-1"> Asistencia alimentaria</h3>
          
          <span title="4 alertas" class="badge badge-danger p-2">
              Inactivo
          </span>
      </div>
        <div class="card-body mt-2">
          <div class="row">
            <div class="col-12">
              <div class="text-muted text-sm font-weight-normal">Admitido desde 14/07/2020 </div>
              <div class="font-weight-bold"> Equipo interviniente
                <span class="badge badge-success mx-2 font-weight-normal"> Equipo 2 </span>
              </div>
              <div class="font-weight-bold"> Persona responsable
                <span class="badge badge-info mx-2 font-weight-normal"> Persona</span>
              </div>
              <div class="font-weight-bold">
                Observaciones de admisión
                <div class="font-weight-normal">
                  Desde el programa asistencia critica se asiste a toda la familia Báez durante el ASPO con alimentos, los miembros de la familia no cuentan con trabajo regular para sustentarse.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title font-weight-bold mr-3 pt-1"> Incendios</h3>
          
          <span title="4 alertas" class="badge badge-danger p-2">
              Inactivo
          </span>
      </div>
        <div class="card-body mt-2">
          <div class="row">
            <div class="col-12">
              <div class="text-muted text-sm font-weight-normal">Admitido desde 09/07/2019 </div>
              <div class="font-weight-bold"> Equipo interviniente
                <span class="badge badge-success mx-2 font-weight-normal"> Equipo 5 </span>
              </div>
              <div class="font-weight-bold"> Persona responsable
                <span class="badge badge-info mx-2 font-weight-normal"> Nombre del responsable</span>
              </div>
              <div class="font-weight-bold">
                Observaciones de admisión
                <div class="font-weight-normal">
                  Luego de una intervención del programa asistencia habitacional, la casa de la familia Baez sufrió un incendio. Al no poseer los medios para refaccionar el hogar, desde el programa de incendios se los asiste con materiales.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title font-weight-bold mr-3 pt-1"> Asistencia habitacional</h3>
          
          <span title="4 alertas" class="badge badge-danger p-2">
              Inactivo
          </span>
      </div>
        <div class="card-body mt-2">
          <div class="row">
            <div class="col-12">
              <div class="text-muted text-sm font-weight-normal">Admitido desde 09/07/2019 </div>
              <div class="font-weight-bold"> Equipo interviniente
                <span class="badge badge-success mx-2 font-weight-normal"> Equipo 9 </span>
              </div>
              <div class="font-weight-bold"> Persona responsable
                <span class="badge badge-info mx-2 font-weight-normal"> Persona</span>
              </div>
              <div class="font-weight-bold">
                Observaciones de admisión
                <div class="font-weight-normal">
                  Se realizó una limpieza y saneamiento del terreno de la familia Baez, el mismo se encontraba en deplorables condiciones sanitarias.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title font-weight-bold mr-3 pt-1"> Camino de la embarazada</h3>
          
          <span title="4 alertas" class="badge badge-danger p-2">
              Inactivo
          </span>
      </div>
        <div class="card-body mt-2">
          <div class="row">
            <div class="col-12">
              <div class="text-muted text-sm font-weight-normal">Admitido desde 10/07/2021 </div>
              <div class="font-weight-bold"> Equipo interviniente
                <span class="badge badge-success mx-2 font-weight-normal"> Equipo 6 </span>
              </div>
              <div class="font-weight-bold"> Persona responsable
                <span class="badge badge-info mx-2 font-weight-normal"> Persona</span>
              </div>
              <div class="font-weight-bold">
                Observaciones de admisión
                <div class="font-weight-normal">
                  Se interviene a Jessica Baez, la adolescente de 15 años, quedo embarazada de Bautista Rivera. Se interviene con todas las áreas para asistir tanto a Jessica como a su familia. A su vez se brinda asistencia psicológica a Bautista.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title font-weight-bold mr-3 pt-1"> Mil días</h3>
          
          <span title="4 alertas" class="badge badge-danger p-2">
              Inactivo
          </span>
      </div>
        <div class="card-body mt-2">
          <div class="row">
            <div class="col-12">
              <div class="text-muted text-sm font-weight-normal">Admitido desde 04/02/2021 </div>
              <div class="font-weight-bold"> Equipo interviniente
                <span class="badge badge-success mx-2 font-weight-normal"> Equipo 10 </span>
              </div>
              <div class="font-weight-bold"> Persona responsable
                <span class="badge badge-info mx-2 font-weight-normal"> Persona</span>
              </div>
              <div class="font-weight-bold">
                Observaciones de admisión
                <div class="font-weight-normal">
Se ingresa al programa a Zoe Baez, hija de Jessica y Bautista Rivera. Se brinda asistencia a la pequeña Zoe brindando un espacio de contención y seguimiento.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- /.row -->



  {% endblock %};

  {% block customJS %}
  {% endblock %}