{% extends "includes/base.html" %};
{% load static %};

{% block title %}
Programas en intervención
{%endblock %};

{% block titulo-pagina %}
Programas en intervención
{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="">Plantilla</a></li>
  <li class="breadcrumb-item"><a href="">Baez, Jessica</a></li>
  <li class="breadcrumb-item active">Programas en intervención</li>
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}



<!-- Datos de legajo -->
<div class="row">
  <div class="col-sm-10 pb-3">
    <div class="card card-outline card-primary h-100 mb-0">
      <div class="card-header">
        <h3 class="card-title">Datos personales</h3>
      </div>
      <div class="card-body">
        <dl class="row mb-0">
          <dd class="col-sm-2 mb-2">Nombre</dd>
          <dt class="col-sm-10 mb-2"><a href="#" title="Ver legajo">Baez, Jessica
            </a>
          </dt>
          <dd class="col-sm-2 mb-2">DNI</dd>
          <dt class="col-sm-10 mb-2">54321012</dt>
          <dd class="col-sm-2 mb-2">Fecha de nacimiento</dd>
          <dt class="col-sm-10 mb-2">15/04/2005</dt>
          <dd class="col-sm-2 mb-2">Sexo</dd>
          <dt class="col-sm-10">Femenino</dt>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="row h-100">
      <div class="col-12">
        <div class="info-box mb-2 py-3">
          <span class="info-box-icon bg-success"><i class="far fa-thumbs-up"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Activas</span>
            <span class="info-box-number h5">1</span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="info-box mb-2 py-3">
          <span class="info-box-icon bg-danger"><i class="far fa-thumbs-down"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Inactivas</span>
            <span class="info-box-number h5">5</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Admisiones activas (estado "aceptada") -->
<div class="row">
    <div class="col-12">
      <div class="card">
        
          <div class="card-tools">
          </div>
        
        <div class="card-body mt-2">

          <!-- programa -->

          <div class="row">
            <div class="col-12">
              <h3>DDA</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="text-muted text-sm font-weight-normal">Admitido desde 14/07/2019 </div>
              <div class="font-weight-bold"> Equipo interviniente
                <span class="badge badge-success mx-2 font-weight-normal"> Equipo 1 </span>
              </div>
              <div class="font-weight-bold"> Persona responsable
                <span class="badge badge-info mx-2 font-weight-normal"> Nombre del responsable</span>
              </div>
              <div class="font-weight-bold">
                Observaciones de admisión
                <div class="font-weight-normal">
                  Se admitió a la familia Baez luego de una derivación en el CIC B° Mitre. Se detectó a los niños de la familia con escolaridad irregular y falta de controles médicos. Además se detecta que la madre de familia Catalina Perez padece violencia familiar.
                  Se articulará con las demás áreas a fin de poder asistir a la familia.
                </div>
              </div>
            </div>


<!-- /.row -->



{% endblock %};

{% block customJS %}
{% endblock %}