{% extends "includes/base.html" %};
{% load static %};

{% block head %}

{% endblock %}

{% block title %}Expedientes Listado{% endblock %};

{% block titulo-pagina %}Expedientes{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="{% url 'SL_expediente_listar'%}"
      title="Ver listado preadmisiones">SL Expedientes</a></li>
  <li class="breadcrumb-item active">Listado</li>
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}

<div class="row">

  <div class="col-12 mt-2">
    <div class="card card-primary card-outline">
      <div class="card-body ">
        <div class="table-responsive mailbox-messages">
          <table class="table table-bordered table-striped projects tabladt">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Expediente</th>
                <th>Grupo familiar</th>
                <th>Equipo</th>
                <th>Indice vulnerabilidad</th>
                <th>Estado</th>
                <th style="width: 5%" class="notexport">
                </th>
              </tr>
            </thead>
            <tbody>
                {% for a in object_list %}
              <tr>
                <td class="mailbox-date">{{a.creado|date:'d/m/Y'}}</td>
                <td class="">{{a.expediente}}</td>
                <td>{{a.fk_derivacion.fk_legajo.apellido}}</td>
                <td>{% for e in equipo %}{% if e.fk_expediente.id == a.pk %}{{e.fk_equipo}}{% endif %}{% endfor %}</td>
                <td></td>
                <td><span class="{% if a.estado == "Activa" %}text-success{% endif %}{% if a.estado == "Inactiva" %}text-danger{% endif %}{% if a.estado == "En proceso" %}text-warning{% endif %}">{{a.estado}}</span></td>
                <td class="project-actions text-right">
                  <div class="btn-group" role="group">
                    <a href="{% url 'SL_expediente_ver' a.id%}" class="btn btn-secondary btn-sm editar">Ver</a>
                  </div>
                </td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block customJS %}
{% endblock %}