{% extends "includes/base.html" %}
{% load static %}
{% block title %}Índices{% endblock %}
{% block titulo-pagina %}Índices{% endblock %};
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right ">
    <li class="breadcrumb-item">Índices</li>
    <li class="breadcrumb-item"><a href="{% url 'legajos_ver' object.fk_derivacion.fk_legajo.id %}" title="Ver legajo">{{object.fk_derivacion.fk_legajo}}</a></li>
        {%if request.resolver_match.url_name == "SL_indicevulneracion_editar" %}
        <li class="breadcrumb-item active">Editar</li>
        {% else %}
        <li class="breadcrumb-item active">Agregar</li>
        {% endif %}
</ol>
{% endblock %};
{% load crispy_forms_tags %}

{% block content %}
<!-- Datos de legajo -->

<div class="row mb-3">
    <div class="col-12">
        <div class="card card-outline card-primary ">
            <div class="card-header">
                <h3 class="card-title">Detalle Pre-Admisión</h3>
            </div>
        <div class="card-body pb-1">
          <dl class="row mb-0">
            <dd class="col-sm-5 mb-2">Estado</dd>
            <dt class="col-sm-7 mb-2"><span class="badge {% if object.estado == 'Finalizada' %}badge-success{% else %}badge-warning{% endif %}">{{ object.estado }}</span></dt>
            <dd class="col-sm-5 mb-2">Fecha de solicitud</dd>
            <dt class="col-sm-7 mb-2">{{object.fk_expediente.creado|date:'d/m/Y'}}</dt>
            <dd class="col-sm-5 mb-2">Solicitud creada por</dd>
            <dt class="col-sm-7 mb-2">{{object.fk_expediente.creado_por}}</dt>
            <dd class="col-sm-5 mb-2">Organismo</dd>
            <dt class="col-sm-7 mb-2">{{object.organismo}}</dt>
            <dd class="col-sm-5 mb-2">Motivo de ingreso</dd>
            <dt class="col-sm-7 mb-2">{{object.motivo_ingreso}}</dt>
            <dd class="col-sm-5 mb-2">Conocimiento de la situación</dd>
            <dt class="col-sm-7 mb-2">{{object.conocimiento_situacion}}</dt>
            {% if object.modificado_por %}
            <dd class="col-sm-12 mb-0 mt-4 pb-0 text-muted text-sm font-italic text-right">Modificado por {{object.modificado_por}} - {{object.modificado|date:'d/m/Y'}}</dd>
            {% endif %}
          </dl>
        </div>
        </div>
    </div>
</div>
<!-- /  -->

<div class="row">
    <div class="col">
        <form class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
            <!-- Security token -->
            {% csrf_token %}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        Indice Vulnerabilidad
                    </h3>
                </div>

                <div class="card-body table-responsive p-2">
                    <table class="table table-head-fixed table-striped">
                        <thead>
                            <tr>
                                <th>Criterio</th>
                                <th class="text-center px-1" width="20%">Presencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in criterio %}
                            <tr>
                                <td>{{c.nombre}}</td>
                                <td class="text-center px-0">
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="{{c.id}}" name="{{c.id}}" {% for a in activos %}{% if a.fk_indice_id == c.id %} checked {% endif %}{% endfor %}>
                                        <label for="{{c.id}}"></label>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="mt-4 mx-2">
                <button class="btn btn-primary mr-1" type="submit">Confirmar</button>
                <a href="{% url 'SL_expediente_ver' object.fk_expediente_id%}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block customJS %}
{% endblock %};