{% extends "includes/base.html" %};
{% load static %};

{% block title %}
Servicio Local Pre-admisiones detalle
{%endblock %};

{% block titulo-pagina %}
Servicio Local Pre-admisiones
{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="{% url 'SL_preadmisiones_listar'%}"
      title="Ver historial de Pre-admisiones">Servicio Local Pre-admisiones</a></li>
  <li class="breadcrumb-item "><a href="{% url 'legajos_ver' object.fk_derivacion.fk_legajo_id %}" title="Ver legajo">{{object.fk_derivacion}}</a></li>
  <li class="breadcrumb-item active">Detalle</li>
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<!-- card-info -->
<div class="row">
  <!-- botones -->
  <div class="col-12 my-3 d-print-none">
    <div class="btn-toolbar" role="toolbar">
    {% if object.estado == 'En proceso' %}
    <a href="{% url 'SL_indicevulneracion_crear' object.pk %}" class="btn btn-primary mr-1">Agregar indice vulneración</a>
    <a href="{% url 'SL_preadmisiones_editar' object.pk %}" class="btn btn-secondary mr-1">Editar</a>
    <a href="" class="btn btn-secondary mr-1 print">Imprimir</a>
    {% comment %}<a href="{% url 'SL_preadmisiones_eliminar' object.pk %}" class="btn btn-danger mr-1 mt-2 mt-sm-0">Eliminar</a>{% endcomment %}
    {% endif %}
    {% if object.estado == 'A efectivizar' %}
    <a href="{% url 'SL_designarequipo_crear' object.pk %}" class="btn btn-primary mr-1">Designar equipo</a>
    <a href="{% url 'SL_indicevulneracion_editar' object.pk %}" class="btn btn-secondary mr-1">Editar indice vulneración</a>
    <a href="" class="btn btn-secondary mr-1 print">Imprimir</a>
    {% comment %}<a href="{% url 'SL_preadmisiones_eliminar' object.pk %}" class="btn btn-danger mr-1 mt-2 mt-sm-0">Eliminar</a>{% endcomment %}
    {% endif %}
    {% if object.estado == 'Finalizada' %}
    <a href="" class="btn btn-secondary mr-1 print">Imprimir</a>
    {% endif %}
    </div>
  </div>
  <!-- ./botones -->

  <div class="row p-0 m-0 " id="seleccion">


    <!-- Datos de Admisión -->
    <div class="col-sm-4 pb-3">
      <div class="card card-outline card-primary h-100 mb-0">
        <div class="card-header">
          <h3 class="card-title">Detalle pre-admisión</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body pb-1">
          <dl class="row mb-0">
            <dd class="col-sm-5 mb-2">Estado</dd>
            <dt class="col-sm-7 mb-2"><span class="badge {% if object.estado == 'Finalizada' %}badge-success{% else %}badge-warning{% endif %}">{{ object.estado }}</span></dt>
            <dd class="col-sm-5 mb-2">Fecha de solicitud</dd>
            <dt class="col-sm-7 mb-2">{{object.fk_expediente.creado|date:'d/m/Y'}}</dt>
            <dd class="col-sm-5 mb-2">Solicitud creada por</dd>
            <dt class="col-sm-7 mb-2">{{object.fk_expediente.creado_por}}</dt>
            <dd class="col-sm-5 mb-2">Expediente</dd>
            <dt class="col-sm-7 mb-2">{{object.fk_expediente.expediente}}</dt>
            <dd class="col-sm-5 mb-2">Organismo</dd>
            <dt class="col-sm-7 mb-2">{{object.organismo}}</dt>
            <dd class="col-sm-5 mb-2">Motivo de ingreso</dd>
            <dt class="col-sm-7 mb-2">{{object.motivo_ingreso}}</dt>
            <dd class="col-sm-5 mb-2">Conocimiento de la situación</dd>
            <dt class="col-sm-7 mb-2">{{object.conocimiento_situacion}}</dt>
            {% if object.modificado_por %}
            <dd class="col-sm-12 mb-0 mt-4 pb-0 text-muted text-sm font-italic text-right">Modificado por {{object.modificado_por}} - {{object.modificado|date:'d/m/Y'}}</dd>
            {% endif %}
          </dl>
        </div>
      </div>
    </div>
    <!-- /  -->

    <!-- Datos de legajo -->
    <div class="col-sm-4 pb-3">
      <div class="card card-outline card-primary h-100 mb-0">
        <div class="card-header">
          <h3 class="card-title">Detalle Legajo</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <dl class="row mb-0">
            <dd class="col-sm-5 mb-2">Nombre</dd>
            <dt class="col-sm-7 mb-2"><a href="{% url 'legajos_ver' object.fk_derivacion.fk_legajo_id %}" title="Ver legajo"> {{object.fk_derivacion}}</a> </dt>
            <dd class="col-sm-5 mb-2">DNI</dd>
            <dt class="col-sm-7 mb-2">{{object.fk_derivacion.fk_legajo.documento}}</dt>
            <dd class="col-sm-5 mb-2">Fecha de nacimiento</dd>
            <dt class="col-sm-7 mb-2">{{object.fk_derivacion.fk_legajo.fecha_nacimiento|date:'d/m/Y'}}</dt>
            <dd class="col-sm-5 mb-2">Sexo</dd>
            <dt class="col-sm-7 mb-2">{{object.fk_derivacion.fk_legajo.sexo}}</dt>
          </dl>
        </div>
      </div>
    </div>
    <!-- /  -->

    <div class="col-sm-4 pb-3">
      <div class="card card-outline card-primary h-100 mb-0">
        <div class="card-header">
          <h3 class="card-title">Detalle índice vulneracion</h3>
          <div class="card-tools d-inline">
            <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-2">
          <ul class="products-list product-list-in-card pl-2 pr-2">
            {% if resultado.total != None %}
            <li class="item p-1">
              <a href="javascript:void(0)">
                <div class="product-img h4 p-0">
                  <span class="badge badge-success float-center p-3">{{resultado.total}}</span>
                </div>
                <div class="product-info">
                  <span class="product-title">Total</span>
                  <span class="product-description">
                    Indice de vulnerabilidad
                  </span>
                </div>
              </a>
            </li>
            {% else %}
            <h6>Sin índices.</h6>
            {% endif %}
          </ul>          
        </div>

      </div>
    </div>
  </div>
  <!-- /  -->
      <!-- Datos Alarmas -->
      <div class="col-12">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h3 class="card-title">Alertas del legajo</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row" id="container-alertas">
              {% if legajos_alertas %}
              {% for a in legajos_alertas %}
              <div class="col-md-3 col-sm-6 col-12 mb-2">
                  <div class="callout h-100 pb-0">
                      <h6 class="font-weight-bold"><i class="fas fa-exclamation-triangle px-1"></i> {{a.fk_alerta}}
                      </h6>
                  </div>
              </div>
              {% endfor %}
              {% endif %}
          </div>
          </div>
        </div>
      </div>
      <!-- ./ -->

    <!-- Datos Observaciones de vulneración -->
    <div class="col-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Observaciones de vulneración</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          {{object.obs_vulneracion}}
        </div>
      </div>
    </div>
    <!-- ./ -->
    <!-- Datos Dinamica familiar -->
    <div class="col-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Dinamica familiar</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          {{object.dinamica_familiar}}
        </div>
      </div>
    </div>
    <!-- ./ -->
        <!-- Datos Familiares -->
        {% if grupo_familiar %}
        <div class="col-12">
          <div class="card card-outline card-primary">
            <div class="card-header">
              <h3 class="card-title">Familiares que integran el expediente.</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
                {% if grupo_familiar %}
                <div class="col-12">
                    <ul class="users-list">
                        {% for f in grupo_familiar %}
                        <li>
                          <a href="{% url 'legajos_ver' f.fk_legajo_familiar_id %}" target="_blank">
                            {% if f.fk_legajo_familiar.foto %}
                            <img src="{{f.fk_legajo_familiar.foto.url}}" alt="User Image" width="60px">
                            {%else%}
                            <img src="{% static 'custom/img/default.png'  %}" alt="User Image" width="60px">
                            {%endif%}                        
                            <span class="users-list-date">{{f.fk_legajo_familiar}}</span>
                        </li>
                      </a>
                        {% endfor %}
                    </ul>
                </div>
                {% else %}
                <div class="card-body bg-light p-0">
                    <h6 class="text-center text-muted py-3">Sin familiares</h6>
                </div>
                {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        <!-- ./ -->


<div class="row mt-4 d-print-none">
  <div class="col-12 mx-2">
    <div class="form-group  d-flex justify-content-between">
      <a href="{% url 'SL_preadmisiones_listar' %}" class="btn btn-secondary">Volver</a>
    </div>
  </div>
</div>

{% endblock %};