{% extends "includes/base.html" %};
{% load static %};

{% block head %}
{% endblock %}

{% block title %}Equipos{% endblock %};

{% block titulo-pagina %}Equipos{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}

<div class="row ">
  <div class="col-12 my-3 mx-2 d-print-none">
    <a href="" class="btn btn-secondary mr-1 print">Imprimir</a>
  </div>
  <!-- ./botones -->
  <div class="col-12">
<div class="card">
  <div class="card-body">
    <div class="row">
          {% for equipo in info_por_equipo %}
          <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
            <div class="inner">
            <h3>{{ equipo.cantidad }}</h3>
            <p>{{ equipo.fk_equipo__nombre  }}</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a href="{% url 'sl_equipodesignado_ver' equipo.fk_equipo %}" class="small-box-footer">Ver mas detalles <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            {% endfor %}
            {% for equipo in no_esta %}
            <div class="col-lg-3 col-6">
  
              <div class="small-box bg-info">
              <div class="inner">
              <h3>0</h3>
              <p>{{ equipo.nombre  }}</p>
              </div>
              <div class="icon">
                <i class="fas fa-users"></i>
              </div>
              <a href="{% url 'sl_equipodesignado_ver' equipo.id %}" class="small-box-footer">Ver mas detalles <i class="fas fa-arrow-circle-right"></i></a>
              </div>
              </div>
              {% endfor %}
          </div>
    </div>
  </div>
</div>
</div>



{% endblock content %}

{% block customJS %}
{% endblock %}